@import "./global.scss";

.calendarContainer {
  width: 100%;
  margin: auto;
  position: relative;
}

.weekdaysContainer {
  display: flex;
  margin: auto;
  justify-content: space-between;
  background: $white-100;

  .weekday {
    color: $grey-200;
  }
}
