@import "./global.scss";

.cardContainer {
  @include card;

  .profileImageWrapper {
    margin: 1rem 0;
  }

  .headlineWrapper {
    margin-bottom: 0.375rem;
  }

  .informationContainer {
    & > p {
      margin-bottom: 0.375rem;
    }

    .industryWrapper {
      display: flex;
      & > p {
        margin-right: 0.375rem;
      }
    }
  }
}
