@import "./global.scss";

.container {
  @include viewContainer;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;

  & > form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;

    .formDevider {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 0.5rem;
    }
  }
}
