@import "./global.scss";

.formItemContainer {
  display: grid;
  grid-template-columns: 1fr;
  font-family: $text-font;
  color: $black;

  .label {
    font-size: $form-label;
    padding: 0.2rem 0.5rem;
  }

  .input {
    outline: none;
    padding: 0.5rem;
    font-family: $text-font;
    border: none;
    border-bottom: 2px solid $grey-100;
    transition: all 0.1s;

    &:hover {
      border-bottom: 2px solid $grey-200;
      transition: all 0.1s;
    }

    &:focus {
      border-bottom: 2px solid $black;
      transition: all 0.1s;
    }
  }
}
