@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap");

// =============
// FONT FAMILIES
// =============
$navigation-font: "Quicksand", sans-serif;
$text-font: "Quicksand", sans-serif;
$headline-font: "Montserrat", sans-serif;
// =============
// FONT SIZES
// =============
$main-head: 2.25rem;
$secondary-head: 1rem;
$tertiary-head: 0.875rem;
// ======
// COLORS
// ======
$signal-color-100: #2cda9d;
$signal-color-200: #0ca26e;
$white-100: #fff;
$white-200: #f6f4f5;
$black: #191917;
$grey-100: #eee;
$grey-200: #ddd;
// ======
// BUTTON
// ======
$border-radius: 0.5rem;
// ==========
// BOX SHADOW
// ==========
$box-shadow-s: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
// MIXINs
@mixin viewContainer {
  width: 100%;
  max-width: 920px;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

@mixin card {
  padding: 1.5rem;
  width: 100%;
  box-shadow: $box-shadow-s;
  border-radius: $border-radius;
  background: $white-100;
}

@mixin tertiary-head {
  font-family: $headline-font;
  font-size: $tertiary-head;
  color: $black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $white-200;
}
