@import "./global.scss";

.navigationContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  border-right: 1px solid $grey-100;
  background: $white-100;

  .wrapper {
    .menuToggle {
      display: flex;
      padding: 1.25rem 1.5rem 0.75rem;
      min-height: 6.25rem;
    }

    .navigationBar {
      padding: 0.75rem;
    }
  }

  .closeMenu {
    width: 4.4rem;
  }

  .openMenu {
    width: 17.5rem;

    .menuToggle {
      justify-content: flex-end;
    }
  }
}
