@import "./global.scss";

.profileImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  overflow: hidden;
  background: $grey-200;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.small {
  height: 2.5rem;
  width: 2.5rem;
}

.medium {
  height: 4rem;
  width: 4rem;
}

.large {
  height: 6rem;
  width: 6rem;
}
