@import "./global.scss";

.cardContainer {
  @include profileCard;

  .profileImageWrapper {
    margin: 1rem 0;
  }

  .headlineWrapper {
    margin-bottom: 0.375rem;
  }

  .positionInfoContainer {
    display: flex;

    .positionWrapper {
      display: flex;
      & > p {
        margin-right: 0.375rem;
      }
    }
  }
}
